@{
	Layout = "_LayoutBuatan";
}

<div class="container">
  <div class="row">
        <span class="card" id="chart" class="col-sm">
    </span>
        <span class="card" id="chart2" class="col-sm">
    </span>
  </div>
</div>
